/* Purple */

.product-info .description .text span,.productpage-info .description .text span,.top-links .link-menu li > a:hover,.help-txt, .accent-color, a:hover, .btn.btn-iconed > i, label.required:after, .iconlist .media-body a, .iconlist .media:hover .pull-left > i, .breadcrumbs ul > li > a:hover, .top-links .menu li > a:hover, .cart-items .items .item-price, .offer .product-info .by > a, .offer .product-info > .add-to-cart, .twitterfeed .tweet_list > li:hover:before, .twitterfeed .tweet_text a, .display-mode ul > li > a:hover, .display-mode ul > .active span, .product-info .description .prices > .off-price, .my-cart td > .price, .shop-summary .total td, input[type="text"].error,input[type="email"].error,input[type="password"].error,textarea.error,select.error, .pretty-list> li a.active {
	color: #3665ff;
}
::selection { background-color: #3665ff; }
::-moz-selection { background-color: #3665ff; }
.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus, .htabs a.selected, .cart-items .footer a, a.button, input.button, .main-menu > li.active > a:before, .main-menu > li > a:hover:before, .range-slider-value > span, .qty-btngroup button:hover, .product-thumbnail > .caption, .btn.btn-primary, .range-slider > a:first-child ,.home-container .tab-content .products-container  .product .button-add a, #product-list-container.product-grid .mix_all .product  .button-add a, .carousel-iframe .products-container .button-add a, .text-empty{
	background-color: #3665ff !important;
}
.ui-widget-header {
	background: #3665ff !important;
}
.range-slider-value > span:before {
	border-color: transparent transparent #3665ff transparent;
}
input[type="text"].error,input[type="email"].error,input[type="password"].error,textarea.error,select.error {
	border-color: #3665ff;
}
.pagination > .active > a, .pagination > li > a:hover {
	border-bottom-color: #3665ff;
}
.section .section-title:after, .footer-inner.alt .widget-title:after {
	background-color: #AAA;
}
#top-slider .flex-control-nav a.flex-active:before, .theme-default .nivo-controlNav a.active:before {
	background-color: #3665ff !important;
}

body, h1, h2, h3, h4, h5, h6, input, select, textarea, .form-control, button {
	font-family: 'Open Sans', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.main-menu > li.active > a:before, .main-menu > li > a:hover:before, .main-menu > li.active > a:after, .main-menu > li > a:hover:after, 	
.products-container .product:before,.products-container .product:after ,.footer-inner.alt:before, .footer-inner.alt:after,.footer-inner.main:before,.footer-inner.main:after,
.breadcrumbs-wrapper .container:before,.breadcrumbs-wrapper .container:after,.btn.btn-iconed > i, .category-page .description:before,.category-page .description:after,.category-page .desc-out:before,.category-page .desc-out:after,
.productpage-info .description .prices,.productpage-info .description .prices:before,.productpage-info .description .prices:after{		background-color: #3665ff; 		}
.annonce:hover{		background-color: #3665ff !important; 		}
 .products-container .product .ribbon{  border-top-color:#3665ff; border-right-color:#3665ff;  }
.pagination .links b{  border-bottom-color:#3665ff; }